.App {
  text-align: center;
}
.custom-bg{
  background-color: #84c1ff;
}
.pagination{
  display: flex;
  justify-content: center;
}
.pagination>li>a{
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
ul{
  list-style: none;
  padding: 0;
}
.active{
  background-color:#6c757d;
  color:#fff;
}

a:hover{
  text-decoration:none;
}

.custom-font-size{
  font-size:2em;
}

.custom-border{
  border-collapse: separate;
  border-spacing: 0 20px;
}

.custom-cursor-pointer{
  cursor:pointer;
}
.custom-position{
  top:6em;
}

td{
  background-color:#d6eaff;
}

.modal-content{
  background-color: #84c1ff;
}

.modal-header{
  background-color: #d6eaff;
  border-bottom: 1px solid #d6eaff;
}

.bg-list{
  background-color: #d6eaff;
  color:#686d76;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
